body {
  margin: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.adminMainContainer {
  height: auto;
}

.adminHeader {
  display: flex;
  background-color: white;
  color: #FF8534;
  padding: 20px;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.dropdown-menu {
  width: inherit;
  background-color: #FF8534;
  color: white;
  transition: 0 !important;
}

.adminWrapper {
  display: flex;
  height: 87vh;
}

.adminUl {
  padding-left: 0 !important;
  position: static;
  height: inherit;
  margin: 0;
  width: 20rem;
  box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.5);
}

.adminLi {
  font-size: 1.5rem;
  width: 100%;
  border-bottom: 1px solid #FF8534;
}

.adminLi button {
  background-color: transparent;
  border: none;
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  text-align: left;
  transition: background-color 0.8s ease;
}

.adminLi button:hover {
  background-color: #FF8534;
  color: whitesmoke;
}

.active {
  background-color: #FF8534;
  color: whitesmoke;
}

main {
  flex: 1;
  overflow-y: auto;
}

@media (max-width: 670px) {
  .adminHeader {
    height: 100px !important;
  }

  .adminHeader h1 {
    font-size: 0.6em;
  }
  .adminHeader .dropdown a {
    font-size: 0.5em !important;
  }

  .adminWrapper {
    display: flex;
    height: 75vh;
  }

  .adminUl {
    position: static;
    height: 89vh;
  }
}
